select {
  outline: none;
  border: 0;
  cursor: pointer;
  box-sizing: border-box;
}

input {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  border: 0;
  box-sizing: border-box;
}


.wrapper {
  width: 100%;
  float: left;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
}

.form-item {
  font: none;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  clear: both;
  position: relative;
  padding: 10px;
  background: #dedede;
  color: #636363;
  border-radius: 10px;
  vertical-align: top;

  &.hidden {
    display: none;
  }

  & input {
    max-width: 100%;
    font-size: 20px;;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #c3c3c3;
    margin-right: 10px;
    display: inline-block;
    float: none;
    color: #636363;
    text-align: right;
  }

  & label {
    font-size: 18px;
    display: inline-block;
    float: none;
  }

  & select {
    width: 100%;
    font-size: 20px;;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #c3c3c3;
    margin-right: 10px;
    display: inline-block;
    float: none;
    color: #080606;
  }

  &__remove {
    width: 15px;
    height: 15px;
    float: right;
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
    font-size: 30px;
    line-height: 30px;
    background: url("../cross_128x128.png") no-repeat;
    background-size: cover;
  }
}