.loader {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 40%;
    left: 50%;
    z-index: 99;
    margin: 0px 0px 0px -25px;
    border: .6em solid transparent;
    border-left-color: currentcolor;
    border-right-color: currentcolor;
    border-radius: 50%;
    animation: 1s loader linear infinite;
    color: #673AB7;
}

@-webkit-keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}